#banner{
    background-image: url('../images/banner.png');
    background-image: cover;
    height: 550px;
    width: 1170px;
}
#greenline{
    height: 250px;
    width: 900px;  

}
#sub-greenline{
    width:500px;
}
#route{
    width: 500px;
}
